.mycards{
    margin: 0 auto;
    max-width:1000px;
    display: grid;

    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    gap: 20px;
}

.mycard{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.mycardimg{
    width:100%;
    display: block;
}

.mycardcontent{
    line-height: 1.5;
    padding: 15px;
    background: rgb(243, 243, 243);
}

.mycardcontent h4{
    margin-top: 0px;
}
.mycardlinks{
    background: rgb(100, 162, 255);
}

.mycardlink a{
    justify-self: center;
}

.margin-animate{
    position: relative;
    bottom: 0px;
    transition: bottom 700ms;

}

.margin-animate:hover{
    bottom: 15px;

}

.contactanimate {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  /* First image (Logo. Full height) */
.contactanimate {
      background: linear-gradient(-45deg, #000000, #408cff, #000000, #bddcff);
      background-size: 400% 400%;
      animation: gradientt 15s ease infinite;
}
  
@keyframes gradientt {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}